.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}
.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}
.webgl-content .footer {height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; height:38px; float: left;}
.webgl-content .footer .discord {background-image: url('discord.png'); width: 38px; height:38px; float: left;margin-left:2px;}
.webgl-content .footer .atomichub {background-image: url('atomichub.png'); width: 38px; height:38px; float: left;margin-left:2px;}

@font-face {
  font-family: MajorMono;
  src: url(MajorMonoDisplay-Regular.ttf);
}

body {
	background:darkcyan;
	color:black;
	padding:0;margin:0;	
}

#loading {
	background:darkcyan;
	position:absolute;
	width:100%;height:100%;
	z-index:999;
	top:0;left:0;
	font-size:1.25em;
	font-family:MajorMono;
}

#wait {
	width:100px;height:40px;
	text-align:center;
	position:absolute;
	top:48%;left:45%;
}

#logindiv {
	position:absolute;top:40%;left:40%;width:20%;height:10%;z-index:888;
	background:crimson;
	border-radius:10px;
}
#login_button{
	font-size:2em;
	text-align:center;
	position:absolute;
	left:6px;top:3px;
	width:100%;height:100%;
	text-transform:uppercase;
	font-family:MajorMono, monospace;
	background:darkcyan;
	color:black;
	border-radius:10px;
	z-index:887;
}